spring:
  application:
    name: gateway-service
  profiles:
    active: default
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
      retry:
        max-attempts: 10
        max-interval: 3000
        multiplier: 1.2
        initial-interval: 2000

